* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #ededf3;
}

.account_header {
	width: 100%;
	height: 44px;
	background-color: #0899ff;
	color: #fff;
	text-align: center;
	font-size: 19px;
	margin-bottom: 30px;
}

.account_header_title {
	width: 100%;
	display: block;
	line-height: 44px;
}

.error_area {
	height: 30px;
	line-height: 30px;
	font-size: 13px;
	color: #ff8400;
	text-align: left;
	display: block;
	margin: -30px 15px 0;
}

.login_input {
	width: 100%;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #fff;
}

.reg_input_wrap {
	padding: 0 15px;
}

.input_item {
	display: -webkit-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 47px;
	border-bottom: 1px solid #ccc;
}

.input_item.last {
	border-bottom: none;
}

.text_label_email {
	background: url(../img_cocos/email.png) no-repeat 0px 12px;
}

.text_label_pass {
	background: url(../img_cocos/pw.png) no-repeat 0px 12px;
}

.text_label {
	display: block;
	background-size: 24px 24px;
	-webkit-background-size: 24px 24px;
	width: 36px;
	height: 48px;
}

.text_input {
	border: none;
	display: block;
	line-height: 20px;
	font-size: 15px;
	height: 21px;
	margin-top: 13px;
	margin-bottom: 13px;
	color: #333;
	outline: none;
}

.submit_wrapper {
	margin: 0 15px;
}

.account_btn {
	display: block;
	height: 40px;
	background: #0899ff;
	line-height: 40px;
	color: #fff;
	font-size: 18px;
	border-radius: 4px;
	width: 100%;
	border: 0;
}

.account_btn.check_word {
	margin-top: 30px;
}

a {
	text-decoration: none;
}

ol, ul {
	list-style: none;
}

.link_reg {
	display: block;
	margin-top: 35px;
	text-align: center;
	height: 14px;
	line-height: 14px;
	font-size: 14px;
	color: #555555;
}

.link_reg a {
	color: #0899ff;
}

.account_footer {
	width: 200px;
	margin: 100px auto 70px auto;
	font-size: 14px;
	color: #666666;
	height: 30px;
	line-height: 30px;
	position: relative;
}

.account_footer .description {
	float: left;
	overflow: hidden;
}

.account_footer .pc_version {
	color: #666666;
	font-size: 14px;
}

.account_footer .lan_tip{
	color: #666666;
	font-size: 14px;
	padding-left: 25px;
	line-height: 30px;
}

.account_footer .droplist-trigger{
	float: left;
	width: 83px;
	height: 28px;
	border: 1px solid #ccc;
	background: #fff;
	text-align: left;
	position: relative;
}

.account_footer div.droplist{
	display: block;
	width: 83px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #fff;
	position: absolute;
	top: 29px;
	left: -1px;
}

.account_footer .droplist-trigger a{
	display: block;
	width: 83px;
	height: 28px;
}

.account_footer .lan_show{
	width: 50px;
	padding-left: 9px;
	border-right: 1px solid #ccc;
	overflow: hidden;
	line-height: 28px;
	font-size: 13px;
	color: #666;
	display: block;
	height: 28px;
	float: left;
}

.account_footer .arrow{
	display: block;
	background: url(../img_cocos/drop.png) no-repeat center center;
	background-size: 9px 5px;
	-webkit-background-size: 9px 5px;
	height: 28px;
	width: 23px;
	float: left;	
}

.account_footer div.droplist ul li{
	height: 32px;
	font-size: 13px;
	color: #666;
}

.account_footer div.droplist ul li a{
	width: 74px;
	line-height: 32px;
	color: #666;
	padding-left: 9px;
	height: 32px;
}
