*{
	margin: 0;
	padding: 0;
}

/*去掉链接的下划线*/
a{
	text-decoration: none;
}

ol, ul {
	list-style: none;
}

input{
	outline: 0;
}

/*输入框提示颜色*/
input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #ccc
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #ccc
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #ccc
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #ccc
}



