.ui-dialog{
	font-family:"微软雅黑","Microsoft YaHei","Helvitica","Verdana","Tohoma","Arial","san-serif";
	border-radius:2px;overflow:hidden;padding:0;border:none;background-image:url();background-size:100% 100%;
	background-position:0 0;background-repeat:no-repeat;background-color:#fff;
}
/*顶部title close*/
.ui-dialog .ui-dialog-titlebar{
	display:none;background:#fff;border:none;min-height:36px;line-height:36px;padding:0;
	font-weight:normal;font-size:18px;text-align:center;color:#FCED92;
}
.ui-dialog .ui-dialog-title{
	font-family:"微软雅黑","Microsoft YaHei","Helvitica","Verdana","Tohoma","Arial","san-serif";
	width:100%;margin:0;padding:0;
}
.ui-dialog .ui-dialog-title .ui-dialog-titlebar-close{
	border:none;background-color:transparent;right:2px;font-size:16px;
	width:26px;height:26px;margin:-14px 0 0 0;
}
.ui-state-default .ui-icon{
	background-image:url('u_close_btn.png');background-size:12px 12px;
	background-position:center center;background-repeat:no-repeat;
}
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text{
	padding:0;
}
/*中间pre msg*/
.ui-dialog .ui-dialog-content{
	padding:14px;text-align:center;min-height:88px!important;
	display:-webkit-box;display:box;-webkit-box-orient:vertical;box-orient:vertical;-webkit-flex-direction:column;flex-direction:column;
    -webkit-box-align:center;box-align:center;-webkit-flex-align:center;flex-align:center;-webkit-align-items:center;align-items:center;
    -webkit-box-pack:center;box-pack:center;-webkit-flex-pack:center;flex-pack:center;-webkit-justify-content:center;justify-content:center;
}
.ui-dialog .ui-dialog-content pre{
	font-family:"微软雅黑","Microsoft YaHei","Helvitica","Verdana","Tohoma","Arial","san-serif";
	overflow:hidden;word-break:break-all;word-wrap:break-word;white-space:pre-wrap;
	line-height:22px;font-size:16px;color:#444;
}
/*按钮*/
.ui-dialog .ui-dialog-buttonpane{
	border:none;text-align:center;padding:0;margin:0;border:none;height:44px;line-height:44px;
	background-image:url();background-size:100% 100%;background-repeat:no-repeat;background-position:0 0;
	color:#000;	
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{
	float:none;display:inline-block;width:100%;
	height:44px;line-height:44px;
}
/*单个按钮*/
.ui-dialog .ui-dialog-buttonpane button{
	width:100%;height:44px;color:#666;font-size:18px;border-radius:0;
	background:none;border:none;border-top:1px solid #ccc;
}
.ui-dialog .ui-dialog-buttonpane button.ui-button-text-only .ui-button-text{	
	font-family:"微软雅黑","Microsoft YaHei","Helvitica","Verdana","Tohoma","Arial","san-serif";padding:0;
}
.ui-widget-overlay{
	background:rgba(0,0,0,0.7);opacity:1
}
/*双按钮*/
.ui-dialog.showConfirmDialog .ui-dialog-buttonpane button:first-child{
	width:50%;border-right:1px solid #ccc;display:inline-block!important;
	-webkit-box-sizing:border-box;box-sizing:border-box;
}
.ui-dialog.showConfirmDialog .ui-dialog-buttonpane button{
	width:50%;display:inline-block!important;
}
.ui-dialog .ui-dialog-buttonpane button:hover{
	text-decoration: underline;
}