*{
	padding: 0;
	margin: 0;
}
body{
　　font: normal 100% Helvetica, Arial, sans-serif;
}
img{
	max-width: 100%;
}
a:link {
	text-decoration: none;
	color: #1587cd;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}
/*内容*/
.content{
	width: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
}
.message{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #E5E5E5;
}

.message h3{
	margin-bottom: 2%;
	color: white;
	padding-left: 15px;
	padding-right: 15px;
}

.message p{
	font-size: 16px;
	color: white;
	padding-left: 15px;
	padding-right: 15px;
}
.butt{
	width: 100%;
}

.butt .submit{
	background-color: #1587cd;
	border: 0px;
	font-size: 1.4em;
	font-family: "微软雅黑";
	color: #ffffff;
	width: 150px;
	height: 40px;
	float: left;
	margin-left: 28%;
	margin-top: 10%;
	border-radius: 5px;
}
