.footer {
	position: absolute;
	width: 100%;
	clear: both;
	height: 25px;
	border-bottom: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
	margin-top: 20px;
	padding-left:15px;
	padding-right: 15px;
	bottom: 0;
	left: 0;
}