.footer {
	position: absolute;
	width: 100%;
	clear: both;
	height: 50px;
	border-bottom: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
	margin-top: 20px;
	padding-left:10px;
	bottom: 0;
	left: 0;
	display: flex;
	align-items:center ;
	-webkit-align-content: center;
}

.close {
	width: 30px;
	height: 30px;
}

.previous {
	width: 30px;
	height: 30px;
	position: absolute;
	right: 0px;
	top: 50%;
	margin-top: -15px;
	margin-right: 50px;
}


.forward {
	width: 30px;
	height: 30px;
	position: absolute;
	right: 0px;
	top: 50%;
	margin-top: -15px;
	margin-right: 10px;
}
